body, html {
/*	background-image: url("img/fundo.jpg");
	height: 100%;
	background-size: 70% 100%;
	background-repeat: no-repeat;
	margin: 0%;*/
	font-family: myFirstFont;
	margin:0%;	
}

a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: red;
	transition: all 1s linear;
}

.imglogin {
	height: 100%;
	width: 100%;
}

.divimglogin {
	height: 100%;
	width: 70%;
		
}


.boxlogin {
	height:100%;
	width: 30%;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	/*background-color:blue;*/
}

.divlogo {
	padding-top: 20%;
	/*background-color: orange;*/
	/*padding-left: 50px;*/
	
}

.logotop {
		display:block;
		margin: 0 auto;
		
	}

#login {
	padding-top: 50px;
	/*padding-left: 50px;*/
	/*background-color:red;*/
}

.mc,.tdentrar, .tdnca {
	padding-left:18%;
	text-align: left;
}

table, td, th {
	width: 100%;
	margin: auto;
	/*border: 1px solid black;*/
	text-align: center;
	
}


input[type="text"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}

input[type="password"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}

input[type="submit"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #FF0000;
  color:#fff;
}


.mc{
	font-size: 10px;	
}

@font-face {
	font-family: myFirstFont;
	src: url("Calibri.woff");
}

@media screen and (max-width: 1024px) {
	.imglogin {
		display:none;
	}
	
	.divimglogin {
	display: none;	
	}
	
	.boxlogin {
	height:100%;
	width: 100%;
	margin: 0 auto;
	
	
	
	
	}
	
	#login {
	padding-top: 80px;
	padding-left: 0px;
	height: 300px;
	width: 100%;
	margin: 0 auto;
	
	}
	
	.divlogo {
	padding-top: 80px;
	
	}
	
	.logotop {
		display:block;
		margin: 0 auto;
	}
	
	.mc,.tdentrar, .tdnca {
	padding-left:0%;
	text-align: center;
}
	
	
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}
.warnig {
    border: 2px solid #FF0000;
    padding:10px;
    border-radius: 5px;
    background-color: #FF9999;
    color: #000         ;
    margin-top: 20px;
}